<footer class="bg-dark text-white text-center py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Sobre Nosotros</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white text-decoration-none">Quiénes somos</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Blog</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Contacto</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Recursos</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white text-decoration-none">Centro de ayuda</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Términos y condiciones</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Privacidad</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Síguenos</h5>
                <a href="#" class="text-white me-3"><i class="bi bi-facebook"></i></a>
                <a href="#" class="text-white me-3"><i class="bi bi-twitter"></i></a>
                <a href="#" class="text-white"><i class="bi bi-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>