{% extends "layout.html" %}

{% block title %}Editar Ítem{% endblock %}

{% block content %}
<h2 class="text-center">Editar Ítem</h2>
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.content.label(class="form-label") }}
        {{ form.content(class="form-control") }}
    </div>
    <div class="mb-3">
        <label class="form-label">Imagen Actual</label>
        <div>
            
            <img src="{{ url_for('static', filename=item.image_url) }}" class="img-thumbnail" width="100">
        </div>
    </div>
    <div class="mb-3">
        {{ form.image.label(class="form-label") }}
        {{ form.image(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary w-100">Guardar Cambios</button>
</form>
<a href="{{ url_for('lists.view_list', list_id=item.list.id) }}" class="btn btn-secondary mt-2">Cancelar</a>

{% endblock %}
