<!DOCTYPE html>
<html lang="es" data-bs-theme="{{ current_user.theme if current_user.is_authenticated else 'light' }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Personal Lists{% endblock %}</title>
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body class="bg-body text-body">

    {% include 'components/navbar.html' %}

    <div class="container mt-4">
        {% include 'components/messages.html' %}
        {% block content %}{% endblock %}
    </div>

    {{ bootstrap.load_js() }}

    <script>
        function toggleTheme() {
            fetch("{{ url_for('users.toggle_theme') }}").then(() => location.reload());
        }
    </script>
</body>

</html>